<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Device Management Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https:////cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css"
      rel="stylesheet"
    />
    <style>
      input:focus {
        outline: none;
      }

      .dt-length {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Device Management Dashboard</h1>
      <div style="display: flex; flex-direction: column; gap: 16px">
        <div style="display: flex; gap: 8px; justify-content: space-between">
          <div style="display: flex; gap: 8px">
            <form style="display: flex; align-items: center; gap: 8px">
              <label
                style="white-space: nowrap"
                class="form-label"
                for="connection"
                >Choose a connection:</label
              >
              <select
                class="form-select form-control"
                aria-label="Default select example"
                name="connection"
                id="connection"
                type="submit"
                onchange="this.form.submit()"
              >
                <option value="all">All Connection</option>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
              </select>
            </form>
            <button type="submit" class="btn btn-primary" id="selectAll">
              Select all
            </button>
            <button type="submit" class="btn" id="deselectAll">
              Deselect all
            </button>
          </div>
          <form style="display: none" id="run-script-form">
            <div style="display: flex; gap: 8px">
              <div style="display: flex; gap: 8px; align-items: center">
                <label
                  class="form-label"
                  for="connection"
                  style="white-space: nowrap"
                  >Choose a script:</label
                >
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  name="selectedScript"
                  id="selectedScript"
                >
                  <option value="script1">Script1</option>
                  <option value="script2">Script2</option>
                  <option value="script3">Script3</option>
                  <option value="script4">Script4</option>
                </select>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                id="runScriptButton"
              >
                Run Script
              </button>
            </div>
          </form>
        </div>

        <table class="table mt-4" id="device-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Device Name</th>
              <th scope="col">IP Address</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <!-- Device data will be inserted here -->
          <tbody id="deviceTableBody">
            <% devicesServer.forEach(function(dat) { %>
            <tr>
              <td><input class="form-check-input" type="checkbox" value=""</td>
              <td><%= dat.name %></td>
              <td><%= dat.ipAddress%></td>
              <td><%= dat.status%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <script>
      var serialNumbers = [];
      var runScriptForm;
      var dataTable;
      var selectAllBtn;
      var deselectAllBtn;
      $(document).ready(() => {
        selectAllBtn = $("#selectAll");
        deselectAllBtn = $("#deselectAll");
        runScriptForm = $("#run-script-form");
        dataTable = $("#device-table").DataTable({
          aoColumnDefs: [
            {
              bSortable: false,
              aTargets: [0],
            },
          ],
        });
        dataTable.on("click", "tbody tr", function (e) {
          e.currentTarget.classList.toggle("selected");
          e.currentTarget.classList.has;
          $(e.currentTarget)
            .find("input[type=checkbox]")
            .prop("checked", e.currentTarget.classList.contains("selected"));
          const selected = dataTable.rows(".selected").data().length;
          const selectedDevices = dataTable.rows({ selected: true }).data();
          serialNumbers = $.map(selectedDevices, function (item) {
            return item[0];
          });
          if (selected > 0) {
            runScriptForm.show();
          } else {
            runScriptForm.hide();
          }
        });

        const params = new URLSearchParams(window.location.search);
        $("#connection").val(params.get("connection") || "all");

        selectAllBtn.on("click", function () {
          $("#device-table").find("tr").removeClass("selected");
          $("#device-table").find("tr").addClass("selected");
          $("#device-table")
            .find("tr")
            .find("input[type=checkbox]")
            .prop("checked", true);
          serialNumbers = $.map(dataTable.rows().data(), function (item) {
            return item[1];
          });
          if (serialNumbers.length > 0) {
            runScriptForm.show();
          }
        });

        deselectAllBtn.on("click", function () {
          $("#device-table").find("tr").removeClass("selected");
          $("#device-table")
            .find("tr")
            .find("input[type=checkbox]")
            .prop("checked", false);
          serialNumbers = [];
          runScriptForm.hide();
        });
      });

      function runScript() {
        const selectedScript = $("#selectedScript").val();
        $("#runScriptButton").attr("disabled", true);
        $.ajax({
          type: "POST",
          url: "/device/run_script",
          data: JSON.stringify({
            serialNumbers,
            script: selectedScript,
          }),
          contentType: "application/json",
          success: function (data, status) {
            $("#runScriptButton").attr("disabled", false);
          },
        });
      }

      $("#run-script-form").on("submit", function (e) {
        e.preventDefault();

        runScript(selectedScript);
      });
    </script>
  </body>
</html>
